*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
body{
    letter-spacing: 1px;
}
.center
{
    max-width:1100px;
    margin:auto;
    padding:0 20px;
  
}
.nav-container
{
    display: flex;
    justify-content: flex-end;
}
.navigation
{
   
    background-color: rgb(166, 166, 253);
   
    padding:1rem 0;
}
.nav-lists{
   
    list-style: none;
    

}
.nav-list{
    margin-left:30px;
    display: inline-block;
  
}
.nav-list a{
    color:#fff;
    text-decoration: none;
    font-size:1.2rem;
}
.nav-list a:hover{
    text-decoration:underline;
}
.image-container
{
    height:500px;
}
.image-container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
main{
    margin:4rem 0;
}
.what-we-do
{
    text-align: center;
    margin-bottom: 1rem;
}
.what-we-do-container
{
    display: flex;

    justify-content: space-between;
  
}
.what-we-do-lists
{
 width:30%;
}
.imageContainer
{
width:100%;
}
.imageContainer img{
    width:100%;
}

.info h2
{
    text-align: center;
    margin-bottom: 1rem;
}



/* our stories */

.ourstories
{
    margin:6rem 0;
}
.ourstories span{
    display: block;
    color:#0270c9;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.7rem;
}
.ourstories .ourstories-title{
    margin-bottom: 2rem;
    font-size:26.88px;
}
.ourstories-container
{
    display: flex;
    justify-content: space-between;
}
.ourstories-leftside
{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ourstories-rightside
{
    width:48%;
}
.ourstories-rightside-list
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #f3f8fc;
    border:none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.info-ourstoies
{
    margin-left:0.5rem;
    padding:1rem 0;
   
}

.info-ourstoies a{
    display: block;
    font-size:1.3rem;
    color:#000;
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 0.8rem;
}
.info-ourstoies a:hover{
    text-decoration: underline;
    color:#0270c9;
    
}
.info-ourstoies p{
    color: #272727;
    opacity: 0.5;
    font-size:1.2rem;
}
.img-container
{
    width:150px;
    height: 86px;
}
.img-container img{
    width:100%;
    height:100%;
}
.ourstories-leftside-detail h2
{
    margin-bottom: 0.9rem;
    font-size:1.6rem;
}
.ourstories-leftside-detail p
{
    line-height: 25px;
    color: #272727;
    font-size:1rem;
}
.ourstories-btn
{
        margin-top:2rem;
}
.ourstories-btn a{
    position:relative;
    display: inline-block;
    background: #0270c9;
    color:#fff;
    border-radius: 2.8rem;
    text-decoration: none;
    line-height: 2.6rem;
    padding: 0 2.625rem 0 2rem;
    font-weight: bold;
    font-size: 0.8rem;
    z-index: 5;
}
.ourstories-btn a span{
    background-color: #fff;
    position:absolute;
    top:11%;
    right:5%;
    height:2rem;
    width:2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    transition: width 0.5s ease-in-out;

}

/*footer */

footer{
    background-color: #0270c9;
}
.footer-container
{
    display: flex;
    justify-content: space-between;
    padding:3rem 0;
    color:#fff;
}

.itharimedical-detail h1
{
    margin-bottom: 1rem;
}
.itharimedical-contact-detail h2{
    margin-bottom: 1rem;
}
.itharimedical-nav-detail h2{
    margin-bottom: 0.5rem;
}
.itharimedical-contact-detail ul,.itharimedical-nav-detail ul{
    list-style: none;
}
.itharimedical-contact-detail ul li{
    margin-bottom: 1.5rem;
    font-weight: bold;
}
.itharimedical-nav-detail ul li
{

margin-bottom: 1rem;
}
.itharimedical-nav-detail ul li a
{
    display: inline-block;
text-decoration: none;
color:#fff;

font-size:1.1rem;
}
.itharimedical-nav-detail ul li a:hover{

    text-decoration: underline;
}

.social-media-icon
{
    display: flex;
 
    list-style: none;
}
.social-media-icon li{
    margin-right:1rem;
}

@media (max-width:800px)
{
    .what-we-do-container
    {
        flex-direction: column;
        align-items: center;
    }
    .what-we-do-lists
    {
        width:80%;
    }
    .ourstories-container
    {
        flex-direction: column;
       
      
    }
    .ourstories-leftside
    {
        width:100%;
        margin-bottom: 2rem;
    }
    .ourstories-rightside
    {
        width:100%;
    }
    .footer-container
    {
        flex-direction: column;
    }
    .footer-container:nth-child(2)
    {
        margin:3rem 0;
    }
}